body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

#map {
    width: 100vw;
    height: 100vh;
}

form {
    position: absolute;
    right: 2rem;
    z-index: 999;
    padding: 1rem;
    background-color: #ccc;
    border: 1px solid #000;
    width: 20rem;
}

#single {
    top: 2rem;
}

#list-selection {
    top: 7rem;
}

input {
    padding: .5rem;
}

select {
    display: block;
    padding: .5rem;
    margin-bottom: .3rem;
}

.modal {
    display: none;
    /*position: absolute;*/
    /*z-index: 999;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;

}
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sidebar {
    display: flex;
    z-index: 999;
    position: absolute;
    top: 0;
    margin-left: 3vh;
    /* margin-top: 12vh; */
}

#stats-box h3 {
    padding: 0;
    padding-top: 15px;
    margin: 0;
}

#stats-box {
    width: 30vh;
    height: 30vh;
    background-color: lightskyblue;
    color: black;
    top: 0;
    margin-top: 1vh;
    margin-left: 3vh;
    border-radius: 12%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#weather-box {
    width: 30vh;
    height: 30vh;
    background-color: lightskyblue;
    top: 0;
    margin-left: 3vh;
    margin-top: 1vh;
    border-radius: 12%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.scoreboard-box {
    width: 30vh;
    height: 30vh;
    background-color: lightskyblue;
    top: 0;
    margin-left: 3vh;
    margin-top: 2vh;
    border-radius: 12%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.scoreboard-box p {
    margin: 1vh;
}

#game-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    width: 50%;
    pointer-events: none;
}

/* Animation Container Styling */
.animation-container {
    display: none;
    pointer-events: none;
    position: absolute;
    top: 25%;
    left: 50%;
    background-color: rgba(255, 72, 0, 0.7);
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    opacity: 0; /* Start invisible */
    transition: opacity 0.5s; /* Fade effect */
    z-index: 1000; /* Ensure it's above the map */
}

/* Keyframes for fade-in and fade-out */
@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}